name: Automatisation des tests DevSecOps
on: push
jobs:
  Dependances:
    name: Analyse des dépendances Python
    runs-on: ubuntu-24.04
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
  
      - name: Scan du fichier requirements.txt
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          input: '/home/runner/work/breakableflask/breakableflask/requirements.txt' 
          format: 'table'
          exit-code: '1'
          vuln-type: 'library'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Test Dockerfile
        run: |
          echo "ecrire ici le scrypt de contrôle du Dockerfile"
  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée"
