name: Automatisation des tests DevSecOps
on: push
jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Analyse Trivy des dépendances (requirements.txt)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scanners: 'vuln'
          scan-type: 'fs'               # Analyse du filesystem
          scan-ref: './requirements.txt'
          format: 'table'
          vuln-type: 'library'
          severity: 'HIGH,CRITICAL'     # Ne remonte que les graves
          exit-code: 1                # Échec du job si vulnérabilités
          ignore-unfixed: true        # (optionnel)
  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Test Dockerfile
        run: |
          echo "ecrire ici le scrypt de contrôle du Dockerfile"
  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée"
