name: Automatisation des tests DevSecOps
on: push
jobs:
  Dependances:
    name: Analyse des dépendances Python
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
  
      - name: Scan du fichier requirements.txt
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          input: '/home/runner/work/breakableflask/breakableflask/requirements.txt' 
          format: 'table'
          exit-code: '1'
          vuln-type: 'library'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
  Dockerfile:
    name: Analyse du Dockerfile
    runs-on: ubuntu-latest
    needs: Dependances                      # ⬅ ne s’exécute que si Dependances est OK
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build de l'image Docker
        run: |
          docker build -t myapp:${{ github.sha }} .

      - name: Scan de image générée par Dockerfile
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'myapp:${{ github.sha }}'  # image construite juste au-dessus
          format: 'table'
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
          exit-code: '1'  
  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée"
